<% include partials/header %>

<div class='jumbotron'>
  <h2><%= 'r/' + sub.name %></h2>
</div>
<div class='container-fluid'>
  <a href=<%= '/r/' + sub.name + '/new' %>>Create New Post</a>
  <ul>
    <% if(sub.posts.length > 0) { %>
      <% sub.posts.forEach(function(post) { %>
        <li><a href=<%= '/r/' + sub.name + '/comments/' + post._id %>><%= post.title %></a></li>
      <% }); %>
    <% } else { %>
      <h3>r/<%= sub.name %> has no posts yet!</h3>
    <% } %>
  </ul>
</div>

<% include partials/footer %>